body {
	background-color: #eee;
}

.container {
	width: 560px;
	height: 100vh; /* 100% of the visible height*/
	background-color: #fff;
	margin: 0 auto;
}

header, section {
	position: fixed; /* takes item out of document flow, removes the inherited width */
	text-align: center;
	width: 560px; /*fix our width issue*/
}

section {
	top: 50px;
}

.logo {
	width: 120px;
	padding: 10px;
}
