body {
	background-color: #eee;
}

.container {
	width: 560px;
	min-height: 100vh; /* 100% of the visible height*/
	background-color: #fff;
	margin: 0 auto;
}

header, section {
	position: fixed; /* takes item out of document flow, removes the inherited width */
	text-align: center;
	width: 560px; /*fix our width issue*/
	background-color: #fff;
}

.thumb {
	height: 70px;
	border-radius: 4px;
}

.details {
	padding: 8px 22px;
}

section {
	top: 50px;
}

main {
	padding: 370px 18px 10px;
}

.logo {
	width: 120px;
	padding: 10px;
}

article {
	padding: 8px 12px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
